<html lang = "en">
<head>
    <title>Upload Issue</title>
<style type="text/css">
body {font-family:Helvetica;}
p {font-size: 200%}

</style>
</head>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'upload/style.css' %}" />

<body>

 <div style="width:100%;text-align:center">
<p>Please upload ".xls" file to upload issue</p>
<!--<h1> Please upload ".xls" file to upload issue</h1>-->
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

 <div style="width:100%;text-align:center">
           <form  method="post" enctype="multipart/form-data">
         {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Upload"/>
     </form>

<div class=ublist>
        <div >
            <a href="/upload/1/">
                <input type="button" value="type in your issue id" class=ubox>
            </a>
        </div>
</div>

 </div>
    <!--<form action="/upload/2/" method="post" enctype="multipart/form-data" accept-charset="utf-8">-->
        <!--{% csrf_token %}-->
        <!--<input type="file" name="u_file" value="" />-->
        <!--<button>Upload</button>-->
    <!--</form>-->
</body>
</html>