<html>
<head>
    <title>Choose the way to upload</title>
    <style type="text/css">
        body {font-family:Helvetica;}
        <!--p {font-size: 200%;}-->
    </style>
</head>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}



<body>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/upload/">HOME</a></li>
  <li role="presentation"><a href="/upload/1/">TYPE</a></li>
  <li role="presentation"><a href="/upload/2/">UPLOAD</a></li>
</ul>

<div class="container">
    <div class="starter-template">
        <h1>TQMS issues to Rally</h1>
        <p class="lead">This tool help you upload TQMS issue to rally.
            <br> If you want to upload bulk issues via .xls file, choose "UPLOAD".
            <br> If you want to upload issue one by one via your hand, please choose "TPYE".
        </p>
    </div>
</div>






</body>
</html>