

<html>
<head>
    <title>Upload Issue</title>
    <style type="text/css">
        body {font-family:Helvetica;text-align:center}
        .center {margin-right:auto; margin-left:auto}
        p {font-size: 200%}
    </style>
</head>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'upload/style.css' %}" />

<body>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/upload/">HOME</a></li>
  <li role="presentation" class="active"><a href="/upload/1/">TYPE</a></li>
  <li role="presentation"><a href="/upload/2/">UPLOAD</a></li>
</ul>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
<div style="width:50%;" class="center">

    <div class="panel panel-default">
      <div class="panel-heading">
          <p>Please fill all info of the issue you want to upload as listed</p>
      </div>
          <div class="panel-body">
              {# Display a form #}
            <form action="" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button type="submit" class="btn btn-default" >
                  Upload
                </button>
              {% endbuttons %}
            </form>
           </div>

      <div class="panel-heading">Validation result</div>
            <div class="panel-body">
                <p>
                   Validation result
                </p>
            </div>
    </div>



 </div>





</body>
</html>