

<html>
<head>
    <title>Upload Issue</title>
    <style type="text/css">
        body {font-family:Helvetica;}
        p {font-size: 200%}
    </style>
</head>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'upload/style.css' %}" />

<body>

 <div style="width:100%;text-align:center">
<p>Please fill all info of the issue you want to upload as listed</p>
<!--<h1> Please fill all info of the issue you want to upload as listed</h1>-->
 </div>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <div style="width:100%;text-align:center">
    <form action="" method="post">
        {% csrf_token %}
        <table style="font-size:100%;font-family:Helvetica;" align="center">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Upload">
    </form>
    <div class=ublist>
            <div >
                <a href="/upload/2/">
                    <input type="button" value="type in your issue id" class=ubox>
                </a>
            </div>
    </div>
 </div>
</body>
</html>